@import "https://fonts.googleapis.com/css?family=Anton";
:root {
  --black: #000;
  --dark: #10181d;
  --orange: #ff6b08;
  --white: #fff;
  --light_grey: #f7f7f7;
  --red: #ff001b;
  --dark_grey: #8c8c8c;
}

body {
  margin: auto;
  font-family: Roboto;
}

:-webkit-any(input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill) {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: inset 0 0 0 1000px #283033 !important;
}

:is(input:autofill, textarea:autofill, select:autofill) {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: inset 0 0 0 1000px #283033 !important;
}

.notification {
  color: #fff;
  z-index: 9999;
  background-color: #4caf50;
  border-radius: 5px;
  padding: 15px 20px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 5px #0003;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

@media screen and (width >= 320px) {
  body {
    width: 320px;
  }
}

@media screen and (width >= 768px) {
  body {
    width: 768px;
  }
}

@media screen and (width >= 1280px) {
  body {
    width: 1280px;
  }
}

.footer {
  color: #545454;
  background-color: #f7f7f7;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 29px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  display: flex;
}

@media screen and (width >= 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;
  }
}

@media screen and (width >= 1280px) {
  .footer {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

.container-footer {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (width >= 320px) {
  .container-footer {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (width >= 768px) {
  .container-footer {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (width >= 1280px) {
  .container-footer {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.footer-info {
  margin-top: 10px;
  margin-left: 4px;
}

@media screen and (width >= 768px) {
  .footer-info {
    margin-top: 0;
  }
}

.icon-heart {
  fill: #ff6b08;
  width: 14px;
  height: 13px;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-btn {
  cursor: pointer;
  color: #545454;
  background-color: inherit;
  border: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  text-decoration: underline;
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
  display: inline-block;
}

.footer-btn:hover, .footer-btn:focus {
  color: #ff6b08;
}

@media screen and (width >= 768px) {
  .footer-btn {
    font-size: 16px;
    line-height: 1.18;
  }
}

.hp-header {
  background-image: linear-gradient(#0000008f, #0000008f);
  width: 320px;
  height: 216px;
  display: flex;
}

@media only screen and (width >= 768px) {
  .hp-header {
    width: 100%;
  }
}

@media only screen and (width >= 1280px) {
  .hp-header {
    width: 100%;
  }
}

.header-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  margin: 0 auto;
  padding: 44px 20px;
  position: relative;
}

@media only screen and (width >= 768px) {
  .header-container {
    width: 768px;
    padding: 40px 32px 44px;
  }
}

@media only screen and (width >= 1280px) {
  .header-container {
    width: 1280px;
    padding: 40px 32px;
  }
}

@media only screen and (resolution >= 2x) {
  .header-container {
    background-image: url("hp-header-mobile@x2.7081c111.png");
  }
}

@media only screen and (width >= 768px) and (resolution >= 2x) {
  .header-container {
    background-image: url("hp-header-tablet@x2.ef8a20fd.png");
  }
}

@media only screen and (width >= 1280px) and (resolution >= 2x) {
  .header-container {
    background-image: url("header-desktop@2x-min.c8e929e0.png");
  }
}

@media only screen and (width >= 1280px) and (resolution <= 1.99x) {
  .header-container {
    background-image: url("header-desktop@2x-min.c8e929e0.png");
  }
}

.hp-nav-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (width >= 768px) {
  .hp-nav-container {
    width: 704px;
  }
}

@media screen and (width >= 1280px) {
  .hp-nav-container {
    width: 1216px;
  }
}

.header-list {
  gap: 40px;
  margin: 0;
  list-style: none;
  display: flex;
}

.header-home-list {
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: normal;
  align-items: center;
  padding: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  display: flex;
  position: relative;
}

.header-home {
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: normal;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  display: flex;
  position: relative;
}

.header-home:after {
  content: "";
  background-color: var(--red);
  border: none;
  width: 100%;
  height: 3px;
  transition: width .2s ease-in-out;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  transform: translateY(1px);
}

.header-home:hover:after, .header-home:focus:after {
  width: 0;
}

.logo {
  color: var(--white);
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.16667;
  text-decoration: none;
  display: block;
}

@media screen and (width >= 768px), screen and (width >= 1280px) {
  .logo {
    justify-content: space-between;
    display: flex;
  }
}

.logo__text {
  display: none;
}

@media screen and (width >= 768px), screen and (width >= 1280px) {
  .logo__text {
    text-align: center;
    color: var(--white);
    align-items: center;
    margin-left: 10px;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    display: flex;
    left: 34px;
  }
}

.logo__wrap {
  width: 24px;
  height: 23px;
  position: relative;
  overflow: hidden;
}

.logo__icon {
  flex-direction: column;
  display: flex;
  position: absolute;
  top: -23px;
  left: 0;
}

.logo__icon--first {
  height: 23px;
  animation-name: logoIconMovie;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(.2, .1, .4, 1);
  animation-iteration-count: infinite;
}

@keyframes logoIconMovie {
  0% {
    transform: translateY(23px);
  }

  100% {
    transform: translateY(0);
  }
}

.header-error {
  color: var(--red);
  opacity: 0;
  align-items: center;
  margin-top: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  transition: opacity .3s ease-in-out;
  display: flex;
}

@media screen and (width >= 768px), screen and (width >= 1280px) {
  .header-error {
    text-align: center;
    letter-spacing: normal;
    margin-top: 20px;
    top: 172px;
    overflow: visible;
  }
}

.search-box {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.search-form {
  justify-content: center;
  align-items: center;
  display: flex;
}

.block-search {
  justify-content: center;
  margin-top: 60px;
  display: flex;
  position: relative;
}

@media screen and (width >= 320px) {
  .block-search {
    width: 280px;
  }
}

@media screen and (width >= 768px) {
  .block-search {
    width: 336px;
  }
}

@media screen and (width >= 1280px) {
  .block-search {
    width: 394px;
    margin-top: 30px;
  }
}

.search-input {
  color: var(--white);
  border-width: 0;
  border-bottom: .5px solid var(--white);
  background-color: #0000;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  transition: border-bottom-color .5s linear;
  display: flex;
}

.search-input:hover {
  border-bottom-color: var(--red);
}

.search-input:focus {
  background-color: #0000;
  outline: none;
}

@media screen and (width >= 320px) {
  .search-input {
    width: 280px;
  }
}

@media screen and (width >= 768px) {
  .search-input {
    color: var(--white);
    align-items: center;
    width: 336px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    display: flex;
  }
}

@media screen and (width >= 1280px) {
  .search-input {
    width: 394px;
  }
}

.search-input::placeholder {
  color: inherit;
}

.search-icon {
  width: 12px;
  height: 12px;
  padding: 0;
}

.search-button {
  background-color: #0000;
  border: 0;
  transition: transform .5s linear;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.search-button:hover, .search-button:focus {
  transform: scale(1.4);
}

.film-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.film-container h1 {
  display: none;
}

.movie-item {
  flex-direction: column;
  width: 280px;
  line-height: 14px;
  display: flex;
}

.movie-item p {
  color: var(--orange);
  font-size: 12px;
  line-height: 14px;
}

.content-wrapper {
  gap: 3px;
  display: flex;
}

.main-rating {
  display: none;
}

.pagination {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 40px;
  margin: 60px auto 50px;
  display: flex;
}

.page-button:hover {
  background-color: #5c5c5c4d;
}

.ellipsis-span {
  margin-bottom: 6px;
  display: none;
}

.first-button, .last-button {
  background-color: var(--light_grey);
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (width >= 768px) {
  .film-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 60px;
  }

  .movie-item h2 {
    margin-top: 8px;
  }

  .movie-item img {
    width: 336px;
    height: 455px;
  }

  .movie-item {
    width: 336px;
  }

  .pagination {
    width: 374px;
  }

  .ellipsis-span {
    display: flex;
  }
}

@media (width >= 1280px) {
  .film-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 16px;
  }

  .movie-item h2 {
    margin-top: 12px;
    font-size: 20px;
  }

  .movie-item p {
    font-size: 20px;
  }

  .content-wrapper {
    gap: 7px;
    margin-top: 10px;
  }

  .movie-item img {
    width: 395px;
    height: 574px;
  }

  .movie-item {
    width: 395px;
  }
}

.loader {
  z-index: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.loader_modal_container {
  z-index: 1;
  backdrop-filter: blur(5px);
  background-color: #ffffff7e;
  width: 100%;
  height: 100%;
  transition: -webkit-backdrop-filter .1s, backdrop-filter .1s;
  position: absolute;
}

.loader_modal {
  z-index: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 0;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.loader__text {
  color: #3d314a;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px auto;
  font-family: Anton, sans-serif;
}

.loader__filmstrip {
  background: #3d314a;
  width: 56px;
  height: 70px;
  position: relative;
}

.loader__filmstrip:before, .loader__filmstrip:after {
  content: "";
  border-left: 5px dashed #fff;
  height: 120%;
  animation: 20ms infinite roll;
  position: absolute;
}

.loader__filmstrip:before {
  left: 5px;
}

.loader__filmstrip:after {
  right: 5px;
}

@keyframes roll {
  0% {
    top: 0;
  }

  100% {
    top: -15px;
  }
}

.movie-backdrop {
  z-index: 2;
  background-color: #2e2f4266;
  width: 100%;
  height: 100%;
  transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
  position: fixed;
  top: 0;
  left: 0;
}

.movie-modal {
  cursor: default;
  background: #fff;
  border-radius: 0;
  flex-direction: column;
  width: 280px;
  height: 100%;
  transition: transform .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  fill: none;
  stroke: none;
  z-index: 1;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1), border .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  border-radius: 25px;
}

.modal-close-icon {
  stroke-width: 2px;
  background: none;
  border-radius: 25px;
  transition: fill .25s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
}

.modal-close-icon:hover, .modal-close-icon:active {
  border-radius: 25px;
  transform: rotate(90deg);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.movie-image {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 240px;
  height: 357px;
  margin-top: 36px;
  margin-left: 20px;
}

.movie-container {
  width: 240px;
  height: 512px;
  margin-top: 20px;
  margin-left: 20px;
}

.movie-title {
  color: var(--pureblack);
  text-align: left;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.172;
}

.movie-description {
  margin-right: 39px;
}

.movie-descr-values p {
  letter-spacing: 0;
  margin-bottom: 8px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33333;
}

.movie-average-rate {
  color: #fff;
  background-color: #ff6b01;
  border-radius: 5px;
  justify-content: center;
  width: 36px;
  height: 16px;
  display: inline-flex;
}

.movie-votes {
  background-color: #f7f7f7;
  border-radius: 5px;
  justify-content: center;
  min-width: 3.5em;
  height: 16px;
  display: inline-flex;
}

.movie-descr {
  color: #8c8c8c;
  width: 70px;
  margin-bottom: 8px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33333;
}

.movie-descr:last-child {
  margin-bottom: 20px;
}

.movie-about h3 {
  letter-spacing: 0;
  text-align: left;
  color: #000;
  margin-bottom: 8px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.movie-about-par {
  color: #000;
  width: 240px;
  max-height: 260px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.66666;
}

.modal-buttons {
  justify-content: left;
  display: flex;
}

.modal-buttons button {
  margin-bottom: 40px;
  margin-right: 20px;
}

.modal-buttons button:last-child {
  margin-right: 0;
}

.watched-button {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 44px;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33333;
  transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.watched-button:hover, .watched-button:focus {
  color: #fff;
  background-color: #ff6b01;
  border: none;
}

.queue-button {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  fill: #fff;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 44px;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33333;
  transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.queue-button:hover, .queue-button:focus {
  color: #fff;
  background-color: #ff6b01;
  border: none;
}

.movie-details {
  display: flex;
}

.movie-original-title {
  text-transform: uppercase;
}

.remove-buttons {
  justify-content: space-around;
}

@media (width >= 768px) {
  .movie-backdrop {
    z-index: 2;
    background-color: #2e2f4266;
    width: 100%;
    height: 100%;
    transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
    position: fixed;
    top: 0;
    left: 0;
  }

  .movie-modal {
    cursor: default;
    background: #fff;
    border-radius: 0;
    flex-direction: row;
    width: 704px;
    height: auto;
    transition: transform .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-close-btn {
    fill: #fff;
    z-index: 1;
    cursor: pointer;
    background: none;
    border: none;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    padding: 0;
    transition: background-color .25s cubic-bezier(.4, 0, .2, 1), border .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    position: absolute;
    top: 15px;
    right: 14px;
  }

  .modal-close-btn:hover, .modal-close-btn:focus {
    stroke: var(--orange);
  }

  .modal-close-icon {
    stroke-width: 2px;
    transition: fill .25s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
  }

  .modal-close-icon:hover, .modal-close-icon:active {
    transform: rotate(90deg);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .movie-image {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 264px;
    height: 373.55px;
    margin-top: 40px;
    margin-left: 36px;
  }

  .movie-container {
    width: 264px;
    height: 512px;
    margin-top: 40px;
    margin-left: 68px;
  }

  .movie-title {
    color: var(--pureblack);
    text-align: left;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.172;
  }

  .movie-descr {
    color: #8c8c8c;
    margin-bottom: 8px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33333;
  }

  .movie-descr:last-child {
    margin-bottom: 20px;
  }

  .movie-about-par {
    color: #000;
    width: 264px;
    max-height: 236px;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.66666;
  }

  .modal-buttons {
    justify-content: left;
    display: flex;
  }

  .modal-buttons button {
    margin-right: 14.94px;
  }

  .modal-buttons button:last-child {
    margin-right: 0;
  }

  .watched-button {
    color: #000;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 44px;
    padding: 10px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33333;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
  }

  .watched-button:hover, .watched-button:focus {
    color: #fff;
    background-color: #ff6b01;
    border: none;
  }

  .queue-button {
    text-transform: uppercase;
    text-align: center;
    color: #000;
    fill: #fff;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 44px;
    padding: 10px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33333;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
  }

  .queue-button:hover, .queue-button:focus {
    color: #fff;
    background-color: #ff6b01;
    border: none;
  }
}

@media (width >= 1280px) {
  .movie-backdrop {
    z-index: 2;
    background-color: #2e2f4266;
    width: 100%;
    height: 100%;
    transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1);
    position: fixed;
    top: 0;
    left: 0;
  }

  .movie-modal {
    cursor: default;
    background: #fff;
    border-radius: 0;
    flex-direction: row;
    width: 806px;
    height: 558px;
    transition: transform .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-close-btn {
    z-index: 1;
    cursor: pointer;
    border: none;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    padding: 0;
    transition: background-color .25s cubic-bezier(.4, 0, .2, 1), border .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
    position: absolute;
    top: 15px;
    right: 14px;
  }

  .modal-close-btn:hover, .modal-close-btn:focus {
    stroke: var(--orange);
  }

  .modal-close-icon {
    stroke-width: 2px;
    transition: fill .25s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
  }

  .modal-close-icon:hover, .modal-close-icon:active {
    color: var(--orange);
    fill: var(--orange);
    transform: rotate(90deg);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .movie-image {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 355px;
    height: 478px;
    margin-top: 30px;
    margin-left: 18px;
  }

  .movie-container {
    width: 375px;
    height: 478px;
    margin-top: 30px;
    margin-left: 20px;
  }

  .movie-title {
    color: var(--pureblack);
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.172;
  }

  .movie-description {
    margin-right: 83px;
  }

  .movie-descr {
    color: #8c8c8c;
    margin-bottom: 8px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33333;
  }

  .movie-about-par {
    color: #000;
    width: 375px;
    max-height: 184px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.66666;
  }

  .modal-buttons {
    justify-content: left;
    display: flex;
  }

  .modal-buttons button {
    margin-left: 4px;
    margin-right: 10px;
  }

  .modal-buttons button:last-child {
    margin-left: 5px;
    margin-right: 0;
  }

  .watched-button {
    color: #000;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 44px;
    padding: 10px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33333;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
  }

  .watched-button:hover, .watched-button:focus {
    color: #fff;
    background-color: #ff6b01;
    border: none;
  }

  .queue-button {
    text-transform: uppercase;
    text-align: center;
    color: #000;
    fill: #fff;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 44px;
    padding: 10px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33333;
    transition: color .25s cubic-bezier(.4, 0, .2, 1), background-color .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);
    display: flex;
  }

  .queue-button:hover, .queue-button:focus {
    color: #fff;
    background-color: #ff6b01;
    border: none;
  }

  .remove-buttons {
    justify-content: start;
  }
}

.remove-buttons {
  gap: 20px;
  margin-top: -20px;
  padding-bottom: 40px;
  display: flex;
}

.remove-watched-button:hover, .remove-watched-button:focus {
  color: #fff;
  background-color: #ff6b01;
}

.remove-queue-button, .remove-watched-button {
  text-align: center;
  color: #000;
  fill: #fff;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  padding: 10px;
  font-size: 8px;
  font-weight: 500;
  line-height: 1.33333;
  transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.remove-queue-button:hover, .remove-queue-button:focus {
  color: #fff;
  background-color: #ff6b01;
}

@media (width >= 1280px) {
  .remove-buttons {
    gap: 27px;
    margin-left: 4px;
    display: flex;
  }

  .remove-queue-button, .remove-watched-button {
    width: 130px;
    height: 35px;
    font-size: 9px;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.current-card {
  color: var(--red);
  transition: color .25s cubic-bezier(.4, 0, .2, 1);
  position: relative;
}

.current-card:after {
  content: "";
  background-color: var(--red);
  border: none;
  width: 100%;
  height: 3px;
  transition: width .2s ease-in-out;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  transform: translateY(1px);
}

.current-card:hover:after, .current-card:focus:after {
  width: 0;
}

.lib-header-container {
  background-image: linear-gradient(#0000008f, #0000008f), url("ml-header-mobile.7affeae9.jpg");
  background-size: cover;
  height: 230px;
}

@media (min-device-pixel-ratio: 2), (resolution >= 192dpi), (resolution >= 2x) {
  .lib-header-container {
    background-image: linear-gradient(#0000008f, #0000008f), url("ml-header-mobile@x2.7aa077a4.jpg");
  }
}

.lib-nav-container {
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
}

.header-home-li, .header-lib {
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

.header-list-lib {
  justify-content: space-between;
  list-style: none;
  display: flex;
}

.logo-text {
  display: none;
}

.header-home-li {
  padding-right: 39px;
}

.library-buttons {
  justify-content: center;
  gap: 20px;
  margin-top: 66px;
  display: flex;
}

.library-button {
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  border: 1px solid var(--white);
  cursor: pointer;
  background-color: #0000;
  border-radius: 5px;
  width: 129px;
  height: 44px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33333;
}

.library-button.active {
  background-color: var(--orange);
  border: var(--orange);
}

.header-list-li-lib, .header-list-li {
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.header-home-li, .header-lib {
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

@media (width >= 768px) {
  .lib-header-container {
    background-image: linear-gradient(#0000008f, #0000008f), url("ml-header-tablet.69f2944d.jpg");
    height: 219px;
  }

  @media (min-device-pixel-ratio: 2), (resolution >= 192dpi), (resolution >= 2x) {
    .lib-header-container {
      background-image: linear-gradient(#0000008f, #0000008f), url("ml-header-tablet@x2.11ef798a.jpg");
    }
  }

  .logo-text {
    color: #fff;
    text-align: center;
    padding-left: 12px;
    font-size: 30px;
    font-weight: 500;
    display: inline-block;
  }

  .library-buttons {
    gap: 32px;
  }

  .library-button {
    width: 152px;
    height: 44px;
  }
}

@media (width >= 1280px) {
  .lib-header-container {
    background-image: linear-gradient(#0000008f, #0000008f), url("ml-header.b5349176.jpg");
    height: 216px;
  }

  @media (min-device-pixel-ratio: 2), (resolution >= 192dpi), (resolution >= 2x) {
    .lib-header-container {
      background-image: linear-gradient(#0000008f, #0000008f), url("ml-header@x2.83838194.jpg");
    }
  }

  .library-buttons {
    gap: 39px;
  }

  .library-button {
    width: 148px;
    height: 42px;
  }
}

.link {
  text-decoration: none;
}

.film-container-library {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.film-container-library h1 {
  display: none;
}

.film-list {
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 20px;
  padding-left: 0;
  display: grid;
}

.movie-item {
  flex-direction: column;
  width: 280px;
  display: flex;
}

.movie-item p {
  color: var(--orange);
  font-size: 12px;
}

.movie-item img {
  cursor: pointer;
}

.film-container-library .main-rating {
  color: #fff;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 5px;
  justify-content: center;
  width: 36px;
  height: 16px;
  margin-left: 5px;
  display: flex;
}

.content-wrapper {
  align-items: flex-end;
  display: flex;
}

.movie-item h2 {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.movie-item img {
  border-radius: 5px;
  width: 280px;
  height: 408px;
  transition: all .5s ease-out;
  display: flex;
}

.movie-item img:hover {
  transform: scale(1.02);
}

.movie-item img:hover:after {
  transition: all;
}

.pagination {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 60px auto 50px;
}

.page-button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.active {
  background-color: var(--orange);
  color: #fff;
}

.first-button, .last-button {
  background-color: var(--light_grey);
}

@media (width >= 768px) {
  .film-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-top: 60px;
  }

  .movie-item h2 {
    margin-top: 8px;
  }

  .movie-item img {
    width: 336px;
    height: 455px;
  }

  .content-wrapper {
    align-items: center;
  }

  .movie-item {
    width: 336px;
  }
}

@media (width >= 1280px) {
  .film-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 16px;
  }

  .movie-item h2 {
    margin-top: 12px;
    font-size: 20px;
  }

  .movie-item p {
    font-size: 20px;
  }

  .movie-item img {
    width: 395px;
    height: 574px;
  }

  .movie-item {
    width: 395px;
  }

  .film-container-library .main-rating {
    align-items: center;
    width: 40px;
    height: 20px;
    margin-left: 5px;
    font-size: 12px;
    display: flex;
  }

  .content-wrapper {
    display: flex;
  }
}
/*# sourceMappingURL=index.34df27b5.css.map */
