<header class="lib-header">
  <div class="lib-header-container">
    <div class="nav-container">
      <nav class="lib-nav-container">
        <a href="./index.html" class="logo">
          <div class="logo__wrap">
            <span class="logo__icon">
              <svg class="nav-icon-logo logo__icon--first" width="24" height="24">
                <use href="/src/images/icons.svg#icon-film"></use>
              </svg>
            </span>
          </div>
          <span class="logo-text link">Filmoteka</span>
        </a>
        <ul class="header-list-lib list">
          <li class="header-list-li-lib">
            <a href="./index.html" class="header-home-li">HOME</a>
          </li>
          <li class="header-list-li">
            <a href="./my-library.html" class="header-lib current-card">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="library-buttons list">
      <li><button id="watchedButton" class="library-button">WATCHED</button></li>
      <li><button id="gueueButton" class="library-button">QUEUE</button></li>
    </ul>
  </div>
</header>
