:root {
  --black: #000000;
  --dark: #10181d;
  --orange: #ff6b08;
  --white: #ffffff;
  --light_grey: #f7f7f7;
  --red: #ff001b;
  --dark_grey: #8c8c8c;
}

body {
  font-family: 'Roboto';
  margin: auto;
}
/* wychodzi na to, ze autocomplete nie mozna zmienic tak jakby sie chcialo. Znalazlem takie rozwiazanie, lepiej tak niz calkowicie usunac autocomplete */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #283033  inset !important;
  -webkit-text-fill-color: white !important;
} 

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media screen and (min-width: 320px) {
  body {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  body {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  body {
    width: 1280px;
  }
}
